@font-face {
  font-family: 'simplebird';
  src: url("fonts/simplebird.eot");
}

@font-face {
  font-family: 'simplebird';
  src: url(data:application/x-font-woff;charset=utf-8;base64,d09GRk9UVE8AAAnwAAsAAAAADuwAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABDRkYgAAABCAAABqAAAAnJ8FPfiUZGVE0AAAeoAAAAGgAAABxnyM70R0RFRgAAB8QAAAAdAAAAIAA5AARPUy8yAAAH5AAAAEsAAABgMY3d7mNtYXAAAAgwAAAATQAAAWbgQtMTaGVhZAAACIAAAAAwAAAANv0qbeFoaGVhAAAIsAAAAB4AAAAkBRz/7WhtdHgAAAjQAAAAHQAAADAbgAJfbWF4cAAACPAAAAAGAAAABgAMUABuYW1lAAAI+AAAAOkAAAGqJ+pNU3Bvc3QAAAnkAAAADAAAACAAAwAAeJxVVn1QlWUWP+/lIje6fEhX5lYExDosLm6h4ddoSR/qtpMoOVNkVCxL+BEqCJpj5Aeaoi90aY3SPrR01K1YYsxp2cbcNLbB1szM/EidsFLQUZP8uJe5wq/fed970f45z3me8zznnN/vPefca4jTKYZh3FwxY1ZZ6bNFM+YWi+EQQ8YE0h2BP0YEvE7THWG6ncnRMqDoGdMMr+4o87luT+BKZJIcjksSiU+SC/2TxJV0064EiVEPLomTRLlDBkqmDJVRkiMTJFfypWje7BnjsrLusZdsexliL0PtZZi9DLeXEfYy0l6y7GUUl/HcXc/7BgQixkqjxlhlrDZMo9aoM142fEa98Yq4NTGHzJHvjVWO5RGLI75x/jny71G5rn+5/h3b7fFvHwBMeqAeKGt5lOLTMm4nNOmZT7flEB+t0kyDNPMKtz4KXuFZefhMX1gO+Db5WmWiPzuYbfrd/mzTPEaNamSsf7sz5Md6bbvV1/aZlYMVXjUrB2tru71+Fo6nb5MDlYnBbEYJujXKaI0XZCjIhoJBkP+se2MApGnrLyYkL9gJbCkpQW/7piNmJHB80yHgJ72W1OiC/GFKIAXy2aYjwH8LBkX5meviggwuWBI64yNjg38/sKglj25zGl1m0DIfDlqX6Sln0yGTsbZG3wvkTWo3gSb3XyFPrHsDRsqUAD1oHDsifqKG442ulFgYs5id8XXVBfqNyY+niH0M4o0vgsiJuyCxEw8Cv3qqqN1bptpCiJHcApxbMx+4+OYW4MKZBfRZ430VqO56H/J8R6mlMWRc8VTaeYjek3/RN5VA1+562yO6PnmamvthoOOX9Yx36m/cbthp5xDS+g0EXpz0A2TViEcIEIETd0P6dR8Hrs1thtyU3GLeICERdZNDWlTaAeum0lLdnGp5oMPCByz/LkJPcHpD0PHr1ouhsHYqhB5K73qihB6GMT8MTaH3ASYJ5M2GHqJG+QjRVUkKx20MkznxWxu6eF1DbOh9qYU1Qu9LXEFEZTps6H0gfwe9jxCSdLA3DJ3ktdvQ+6h1xQYuQ8aXlBB3s/kQpHbhj4AvYTatS/sB0xqqTRdfVtIG7969kENJjZCOe7Ih+3wFtCy/v4YVSdP/0dtmPmSmxPoPwjFq3Vp6/KhhKZBxijwM3X9aK7K0Flj63jWgNeMKkMYqkibnrZDl5/+hmhd4gaFpvQo5wdrgi9WQRY85bQ9sKWPag6/BkV4ynTVaP3MRnc5TlKtX/onMubKBOQmzTZVzeHhyvFoyua2bzMPPRxdTtnnXQDyEgm8bqiFpRxP52Qb3kIas1FbWaeqyeKDTNRSSkfoFv/eXuyCZlTtM3iqdmgR5fN/3kHxvA7fbR9oC/xySrmes+jWbf04BGg50MdJ7bDh8oLVxzXwQeO3p4fTxZPFUmlbrN69qfYsa60CWjS6G5GrdiTiYQ0TlDkjdsTRIRZMHUs6+lJfHbWQO6NwxE1hRUkz8gxVE1cIf+0GmRN8HNF7ZDbTnnQuJDYejIYUZV3UQ1aT+j+X89jZ+lGATRZfOoU5lIlIbSpiJeL8TFui7X0JSHDGQ6OY7IWOUl1v4GSW75xKwlxBlsl6WmYto3fsVpL9+pzE6vNy8jCNqyKybRFKssyufs/wUo/v8K9QU9+HNP3NukhIZeKoQ8ogVY99RyKDCHMhY7dWsmUv4aea3sbfqJhP1Dzqldi04SGp2cm7saF0LSdCR3Nu2/UZtbNp+yNoTWfx497NyIhqWhDVtk4d1ghwNdr4OnF45mA1yiaVzVtv4stZ3KwlARxWp6yDr2D93G4XSvUVdRw/LAU5e+pid7CtgB+ncCWibpeadBfY5b4MUaxknNqcy4Q85OmCqeIn1Lnfo1OjRSr2gufYk1lD7bBlk2IGL5EzrfTAHvMSo/zbl8c2dz3Muq+HW9DOspekVjMlewTn9lDvVS1c6Ax84OQG4OmwsOfJ/zUnmKB3EeGMLW1kgXoLEmXOc/Y7+04Fjms5ZyVFR3actV0O7XknXy7X6bBYRLI4/DXl97aOcX136meI+YDd0ryiBxO/mb6+8w2qJWcVePuTpZabD9wB71i+gx6JcUllfpMX6QgU/1qu19PlcxTy2ea2pwtoGVFTq1tV3Frqsz1JMy0nI3Z71SsaIaDuYFdZOIF5/QLpXTAulx0QZ9fbZnJtxzUVkIP+pbZAJG3NV1Ou2zBZoUU3PsNUWPj0rtw3hs3q94gtdzn+qPCXWDFx29ni6PVH80+IxBzS4o38DLqpS+HicY2BgYGQAgjO2i86D6LNHpwnBaABNIQbwAAB4nGNgZGBg4ANiCQYQYGJgBEJuIGYB8xgABMMAPgAAAHicY2BmamCcwMDKwMG4gPEAAwNDJIRmNGaQZ1jKwMDEwMrMAAcCCCZDQJprCoPDA4YPDEwJ/x8wWDElMCg0ADXCFSgAISMAbwUMgQB4nGNgYGBmgGAZBkYGEEgA8hjBfBYGFyDNAYRMIIkHnB8Y/v8HsxhgLAFusFo2sE5OoE4WIJ+JgRUowg7Ux8XAwAiUgxg8cgEA2m8JBAAAAHicY2BkYGAA4p8N+v/j+W2+MnAzNQBFGM4enSaEoP8/YGpgSgByORiYQKIAYoEMF3icY2BkYGBK+P+AwYqpgYHhbwOQBIqgAB4AgD4FCwAAeJxjamBgYELFl6FYAYjVgFgYiBNAciAAAM0XB/YAAAAAAFAAAAwAAHichY4xbsJAEEWfwRBBolRR6k1DZ8veyEU4AFUqCnoQK8uSsdEazsANcoycIn2OkQPkAvl2VkoTiZVG83bm798P3PFGRH8i5jwGHnFDHnjMgkvgWJqPwBNu+Qo8ZR7NpIzimSYPw6ueR9zzFHjMKy+BY2neA0/062fgqebfdFQcOFLj2Ik9e+iqw7F2u8qL11qUnCXYasnaled6K1jR0nAaupfCYbCkZOpL1X/GvxtLQTKUlTrnWWZtc1q1vnTGpplZmr8AutgiKRKb5dJdTbvRwg+yPp2Re5+IjfNd1TYmT7PrJj9sRkOCAAAAeJxjYGbACwAAfQAE) format("woff"), url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAANAIAAAwBQRkZUTWfIzvQAAAlIAAAAHEdERUYAOwAGAAAJKAAAACBPUy8yMWvdzQAAAVgAAABWY21hcOBO1CIAAAHoAAABZmdhc3D//wADAAAJIAAAAAhnbHlmqK0UuAAAA3AAAANsaGVhZP0qbeEAAADcAAAANmhoZWEFHP/vAAABFAAAACRobXR4HFUCaQAAAbAAAAA4bG9jYQVEBFYAAANQAAAAHm1heHAAUgBAAAABOAAAACBuYW1lJ+pNUwAABtwAAAGqcG9zdNb+UTwAAAiIAAAAlgABAAAAAQAAJZ4LrF8PPPUACwKAAAAAAM3FlhIAAAAAzcWWEgAA/+ACgAJgAAAACAACAAAAAAAAAAEAAAJg/+AAOgKAAAD9gAKAAAEAAAAAAAAAAAAAAAAAAAAOAAEAAAAOAD0AAgAAAAAAAgAAAAEAAQAAAEAAAAAAAAAAAQKAAZAABQAIAaABwAAAAFkBoAHAAAABMwAfAKUAAAIABQMAAAAAAAAAAAAAEAAAAAAAAAAAAAAAUGZFZABA4ADwAAJg/+AAOgJgACCAAAABAAAAAAAAAoAAAAAAAAAA1QAAAoAAAAKAAAACgAAAAoAA0wKAAN4CgAAgAoAAJgKAABMCgABfAoAAAAAAAAAAAAADAAAAAwAAABwAAQAAAAAAYAADAAEAAAAcAAQARAAAAAgACAACAAAAAOAJ8AD//wAAAADgAPAA//8AAAAAEA0AAQAAAAYAAAAAAAsABQAGAAMABAAHAAgACQAKAAwAAAEGAAABAAAAAAAAAAECAAAAAgAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAeADwAYgCKALIA0ADmARgBdgGoAbYAAAACAAD/4AKAAmAABwAOAAAkECYgBhAWIAE3FTMVIxUCgLv+9ru7AQr+26CgoJsBCru7/va7AUCgeFB4AAACAAD/4AKAAmAABwAOAAAYARYgNhAmIAEHNSM1MzW7AQq7u/72ASWgoKABpf72u7sBCrv+wKB4UHgAAAACAAAAYAKAAeAACwAXAAA3NTMnBzMVFBYzISc3NTQmIyEXMxUjFzefQXBwQSUbAR9S8SUb/uFSr0FwcLqnf3/BGyVaJcEaJlqnf38AAQDTAGYBogHaABYAAAEOBDEGFBcWFx4BNzYvATc2JyYGAW4EICkoGwsLgw0KHwsYGHh4GBgLHwHPAyIrKR0KHgqJDQoBCxcbfX0bFwsBAAABAN4AZgGtAdoAFgAAAR4EMRYUBwYHDgEnJj8BJyY3NhYBEgQgKSgbCwuDDQofCxgYeHgYGAsfAc8DIispHQoeCokNCgELFxt9fRsXCwEAAAEAIABGAmAB+gARAAAlLgYjNQcXNTIeAwJgAQYZHzlDZDrn5zRHUTs7RgcWQTtIMyR8z9aLBREhOQAAAAEAJgAGAloCOgAJAAABFzMHFycHNyczAUBMzqg8rq48qM4COth+3oWF3n4AAgATABkCbQInABgAHgAAASIGByMXNyM+ATMyFhQGIyInBxYzMjY0JgcVFzcnNQFnapkCT3Z2XANyT1JyclJANC1HWm2ZmYRgIFMCJpVqhIRPb3OkcyYwN5namXmWYB9ThAAAAAEAX//gAh0CYAA8AAAXPgE3PgQ3Bi4BNzQ+AzcGJyY3PgI3PgEnLgEHDgInIiY2Nw4BBwYUFgcGJicOARYXBgcGFxaIAx4MEzUZIx0QFS8dAhwtMzoXUSINCApCRhQSEAgJVx0RNS0HCgcMDx1KDhANBwkxCwoCFRkdAwEPChgLXiUDBAQPIh0GDxkJBQMGECogEiAOBwYIFBQSRhEUKgICTkwBJz4eDj8dIYZPDgRbIiE6SCdNRBQEAgAAAgAA/+ACgAJgABUAHQAAJScmBzY1NCYiBhQWMzI3Bh8BHgE2JiQiJjQ2MhYUAmyXGBY5jcaNjWNYRAEVgRAvIQL+s4ReXoReP4EVAURYY42Nxo05FhiXEwIhL6FehF5ehAAAAAEAAP/gAoACYAACAAARASECgP2AAmD9gAAAAAAAAAwAlgABAAAAAAABAAoAFgABAAAAAAACAAcAMQABAAAAAAADACYAhwABAAAAAAAEAAoAxAABAAAAAAAFAAsA5wABAAAAAAAGAAoBCQADAAEECQABABQAAAADAAEECQACAA4AIQADAAEECQADAEwAOQADAAEECQAEABQArgADAAEECQAFABYAzwADAAEECQAGABQA8wBzAGkAbQBwAGwAZQBiAGkAcgBkAABzaW1wbGViaXJkAABSAGUAZwB1AGwAYQByAABSZWd1bGFyAABGAG8AbgB0AEYAbwByAGcAZQAgADIALgAwACAAOgAgAHMAaQBtAHAAbABlAGIAaQByAGQAIAA6ACAAMgA1AC0ANQAtADIAMAAxADMAAEZvbnRGb3JnZSAyLjAgOiBzaW1wbGViaXJkIDogMjUtNS0yMDEzAABzAGkAbQBwAGwAZQBiAGkAcgBkAABzaW1wbGViaXJkAABWAGUAcgBzAGkAbwBuACAAMQAuADAAAFZlcnNpb24gMS4wAABzAGkAbQBwAGwAZQBiAGkAcgBkAABzaW1wbGViaXJkAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADgAAAAEAAgECAQMBBAEFAQYBBwEIAQkBCgELAQwHdW5pRTAwMwd1bmlFMDA0B3VuaUUwMDEHdW5pRTAwMgd1bmlFMDA1B3VuaUUwMDYHdW5pRTAwNwd1bmlFMDA4B3VuaUUwMDAHdW5pRTAwOQd1bmlGMDAwAAAAAAAB//8AAgABAAAADgAAABgAAAAAAAIAAQADAA0AAQAEAAAAAgAAAAAAAQAAAADMPaLPAAAAAM3FlhIAAAAAzcWWEg==) format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  background: #eaeaea;
}

h1, h2, h3, h4, h5 {
  font-size: 1rem;
  font-weight: normal;
  text-rendering: optimizelegibility;
  margin: 0;
  padding: 0;
}

ul, dl {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #25b2e6;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.hidden {
  opacity: 0;
}

.atname {
  text-decoration: none;
}
.atname:before {
  content: '@';
  text-decoration: none !important;
}

[data-icon] {
  font-family: 'simplebird';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

header {
  overflow: hidden;
  background: #2c2c2c;
  background: -webkit-linear-gradient(top, #404040 0%, #1e1e1e 100%);
  /* Webkit */
  background: linear-gradient(to bottom, #404040 0%, #1e1e1e 100%);
  /* W3C */
  color: #fff;
  padding: 1rem 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
header .header_wrap {
  max-width: 560px;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
}
header .header_wrap h1, header .header_wrap .search_header {
  margin: 0 36px;
  -webkit-transition: -webkit-transform 200ms ease;
}
header .search_header {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-150%);
}
header .search_header .search_wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: -4px;
}
header .search_header input[type="search"] {
  background: #fff;
  width: 100%;
  height: 2.2em;
  border: 1px solid black;
  font-size: 1.4em;
  padding: 3px 5px 2px 15px;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -o-border-radius: 26px;
  -ms-border-radius: 26px;
  border-radius: 26px;
}
header .search_header input[type="search"], header .search_header input[type="search"]:focus, header .search_header input[type="search"]::-webkit-search-cancel-button {
  moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}
header h1 {
  text-align: center;
}
header h1 a {
  color: #ccc;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.75);
}
header a {
  font-size: 2em;
  font-weight: 200;
  color: #fff;
}
header a:hover {
  text-decoration: none;
}
header .search_btn, header .newtweet_btn {
  background: transparent;
  border: 0;
  position: absolute;
  color: #cccccc !important;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.75);
  text-align: center;
  padding: 0;
  width: 35px;
  height: 25px;
}
header .search_btn:hover, header .newtweet_btn:hover {
  color: #fff;
  cursor: pointer;
}
header .search_btn {
  left: 0;
  top: 0px;
  font-size: 2em;
  font-weight: bold;
}
header .newtweet_btn {
  font-size: 2.5em;
  right: 0;
  top: 0px;
}

body.search h1 {
  -webkit-transform: translateY(150%);
}
body.search .search_header {
  -webkit-transform: translateY(0);
}
body.search .search_btn {
  color: white !important;
}

body.searching #toggle_history, body.searching #tweet_history, body.searched #toggle_history, body.searched #tweet_history {
  display: none;
}

#main {
  background: #fff;
  border-radius: .5em;
  border: 1px solid #dddddd;
  margin: 3rem auto;
  font-size: 1.5rem;
  position: relative;
  overflow: hidden;
  max-width: 560px;
  min-width: 320px;
}
@media screen and (max-width: 600px) {
  #main {
    border-width: 1px 0;
    border-radius: 0;
    max-width: 100%;
    margin: 1em 0 1em;
  }
}

nav {
  position: relative;
  z-index: 2;
  padding: 1.5rem 20px;
  border-bottom: 1px solid lightgrey;
  background: #fff;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  -webkit-transform: translateZ(0);
  -webkit-transition: box-shadow 0.3s ease;
  -moz-transition: box-shadow 0.3s ease;
  -ms-transition: box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
}
nav button {
  background: #e2e2e2;
  border: 1px solid lightgrey;
  border-radius: 10em;
  color: #fff;
  font-size: 1.5em;
  padding: 0.1em;
  position: absolute;
  top: 1.5rem;
  z-index: 1;
  cursor: pointer;
}
nav button#prev {
  left: 20px;
}
@media screen and (max-width: 600px) {
  nav button#prev {
    left: 10px;
  }
}
nav button#next {
  right: 20px;
  text-indent: 0.1em;
  padding-right: 0;
}
@media screen and (max-width: 600px) {
  nav button#next {
    right: 10px;
  }
}
@media screen and (max-width: 430px) {
  nav button {
    font-size: 1em;
  }
}
nav dt {
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  line-height: 1em;
  position: relative;
  top: 0.1em;
}
@media screen and (max-width: 430px) {
  nav dt {
    font-size: 1.3em;
  }
}
nav dt em {
  font-size: 2rem;
  font-weight: 200;
  font-style: normal;
  color: #aaa;
}
@media screen and (max-width: 430px) {
  nav dt em {
    font-size: 0.7em;
  }
}
nav #toggle_history {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 50%;
  bottom: -15px;
  margin-left: -15px;
  z-index: 2;
  font-family: "simplebird";
  font-size: 1.4em;
  text-align: center;
  color: #a4a4a4;
  line-height: 1.4em;
  background: #fff;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
nav #toggle_history:hover {
  color: #666;
  text-decoration: none;
}

section {
  padding: 20px;
  background: #fff;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform 0.3s ease;
  -moz-transition: -webkit-transform 0.3s ease;
  -ms-transition: -webkit-transform 0.3s ease;
  -o-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -webkit-transform: translateZ(0);
}
@media screen and (max-width: 600px) {
  section {
    padding: 20px 10px;
  }
}
section li {
  display: table;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #efefef;
  position: relative;
  width: 100%;
}
section li:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}
section .tweet .avatar {
  border-radius: 0.5rem;
  display: table-cell;
  vertical-align: top;
  margin-right: 10px;
}
@media screen and (max-width: 600px) {
  section .tweet .avatar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
}
section .tweet .tweet_body {
  display: table-cell;
  vertical-align: top;
  width: 100%;
}
section .tweet .tweet_info {
  display: table;
  width: 100%;
  line-height: 1em;
}
section .tweet .user {
  display: table-cell;
}
section .tweet .user a {
  color: #222;
  font-weight: 500;
}
section .tweet .user a span {
  color: #aaa;
  font-weight: 200;
  font-size: 0.9em;
}
section .tweet .user a:hover {
  text-decoration: none;
}
section .tweet .user a:hover span {
  text-decoration: underline;
}
section .tweet a.permalink {
  display: table-cell;
  text-align: right;
  font-size: 0.8em;
  font-weight: 500;
  color: #222;
}
section .tweet .content {
  margin: 0.5em 0;
}
section .tweet .retweeted {
  font-size: 0.8em;
  font-weight: 200;
  margin-top: -0.25em;
}
section .tweet .retweeted, section .tweet .retweeted a {
  color: #aaa;
}
section .tweet .retweeted:before {
  content: "\e001";
  font-family: 'simplebird';
  font-size: 1.2em;
  position: relative;
  top: 0.15em;
  margin-right: 0.2em;
}
section .tweet .tweet_footer {
  margin-top: 0.5em;
  display: table;
  width: 100%;
}
section .tweet .tweet_footer > * {
  display: table-cell;
  vertical-align: top;
}
section .tweet .metadata {
  margin: 0;
  width: 100%;
  line-height: 1.2em;
}
section .tweet .metadata, section .tweet .metadata a {
  font-size: 1.3rem;
  color: #333;
}
section .tweet .metadata a {
  font-weight: 500;
}
section .tweet .metadata .replyto {
  font-weight: 400;
}
section .tweet .metadata .replyto span {
  font-weight: 500;
}
section .tweet .tweet_actions {
  font-family: simplebird;
  font-size: 1.2em;
  margin: 0;
  position: relative;
  top: -0.1em;
}
section .tweet .tweet_actions a {
  color: #aaa;
  margin-left: 0.4em;
}
section .tweet .tweet_actions a:hover {
  text-decoration: none;
}
section .searching {
  text-align: center;
  font-size: 1.2em;
  padding-bottom: 0;
}

#tweet_history {
  position: absolute;
  padding: 20px;
  background: #fff;
  max-height: 17em;
  overflow-y: auto;
  -webkit-transform: translateZ(0);
}
@media screen and (max-width: 430px) {
  #tweet_history {
    padding: 10px;
  }
}
#tweet_history, #tweet_history ol {
  list-style: none;
  margin: 0;
  width: 100%;
}
#tweet_history h2 {
  color: #333;
  font-size: 1.2em;
  font-weight: 600;
}
#tweet_history .tweet_year {
  margin-bottom: 1em;
}
#tweet_history .tweet_year:last-child {
  margin-bottom: 0;
}
#tweet_history .tweet_year:not(.active) {
  opacity: .5;
}
#tweet_history .tweet_year:not(.active):hover {
  opacity: 1;
}
#tweet_history .tweet_months {
  display: table;
  padding: 0;
}
#tweet_history .tweet_months .bar {
  display: table-cell;
  padding-right: 3px;
}
#tweet_history .tweet_months .bar a {
  display: block;
  background: #94ddf8;
  height: 2em;
}
#tweet_history .tweet_months .bar .count_bar {
  background: #f8f8f8;
  display: block;
  height: 2em;
}
#tweet_history .tweet_months .bar.active a {
  background: #25b2e6;
}
#tweet_history .tweet_months .bar.active .count_bar {
  background: #dddddd;
}

.menu_open section {
  -webkit-transform: translateY(17em);
  border-top: 1px solid lightgrey;
}
.menu_open section, .menu_open nav {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.menu_open #tweet_history {
  -webkit-overflow-scrolling: touch;
}

footer {
  text-align: center;
  font-size: 1.3em;
  color: #bbb;
  padding-bottom: 1em;
}
footer a {
  color: #bbb;
  text-decoration: underline;
}
