// Variables
//----------------------------------------------//
$gutter_width: 			20px;
$max_column_width: 		560px;
$min_column_width:		320px;
$history_height:		17em;
$rounded_layout_break:	$max_column_width + $gutter_width * 2;
$small_screen_break: 	430px;
$baby_blue:				#94ddf8;
$darken_baby_blue:		#25b2e6;

@mixin transition($transition) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

@mixin filter($filter) {
	-webkit-filter: $filter;
	-moz-filter: $filter;
	-ms-filter: $filter;
	-o-filter: $filter;
	filter: $filter;
}

@mixin small_screen_break {
	 @media screen and (max-width: $small_screen_break) {
	 	@content;
	 }
}

@mixin rounded_layout_break {
	@media screen and (max-width: $rounded_layout_break) {
		@content
	}
}

@font-face {
	font: {
		family: 'simplebird';
		weight: normal;
		style: normal;
	}

	src:url('../fonts/simplebird.eot');
	src:url('../fonts/simplebird.eot?#iefix') format('embedded-opentype'),
		url('../fonts/simplebird.woff') format('woff'),
		url('../fonts/simplebird.ttf') format('truetype'),
		url('../fonts/simplebird.svg#simplebird') format('svg');
}

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	font: {
		size: 10px;
		family: "Helvetica Neue", Helvetica, sans-serif;
	}
	background: #eaeaea;
}

h1, h2, h3, h4, h5 {
	font: {
		size: 1rem;
		weight: normal;
	};
	text-rendering: optimizelegibility;

	margin: 0;
	padding: 0;
}

ul, dl {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: #25b2e6;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.hidden {
	opacity: 0;
}

.atname {
	text-decoration: none;

	&:before {
		content: '@';
		text-decoration: none !important;
	}
}

[data-icon] {
	font-family: 'simplebird';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

header {
	background: #2c2c2c;
	background: -webkit-linear-gradient(top, #333333 0%,#1E1E1E 100%); /* Webkit */
	background: linear-gradient(to bottom, #333333 0%,#1E1E1E 100%); /* W3C */
	color: #fff;
	padding: 1rem 0;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),
				inset 0 -1px 0 rgba(0, 0, 0, 0.1);

	hgroup {
		max-width: $max_column_width;
		min-width: $min_column_width;
		margin: 0 auto;
		position: relative;

		@include rounded_layout_break {
			//Work around stupid iOS box-sizing bug
			> *:first-child {
				margin-left: $gutter_width/2;
			}

			> *:last-child {
				margin-right: $gutter_width/2;
			}

		}
	}

	a {
		font: {
			size: 2em;
			weight: 200;
		};

		color: #fff;

		&:hover {
			text-decoration: none;
		}
	}

	.newtweet {
		background: #3476b3;
		background: -webkit-linear-gradient(top, #7db7e9 0%,#3476b3 100%); /* Webkit */
		background: linear-gradient(to bottom, #7db7e9 0%,#3476b3 100%); /* W3C */
		padding: 0.5em 0.6em;
		font-size: 1.5em;
		border-radius: .25em;
		box-shadow: 0 1px 1px #1e1e1e,
					inset 0 1px 1px rgba(255, 255, 255, 0.3);
		
		position: absolute;
		right: 0;
		top: -0.3rem;
	}
}

#main {
	background: #fff;
	border-radius: .5em;
	border: 1px solid #ddd;
	margin: 3rem auto;
	font-size: 1.5rem;
	position: relative;
	overflow: hidden;

	max-width: $max_column_width;
	min-width: $min_column_width;

	@include rounded_layout_break {
		border-width: 1px 0;
		border-radius: 0;
		max-width: 100%;
		margin: 1em 0 1em;
	}
}

nav {
	position: relative;
	z-index: 2;
	padding: 1.5rem $gutter_width;
	border-bottom: 1px solid #d3d3d3;
	background: #fff;
	border-top-left-radius: .5em;
	border-top-right-radius: .5em;

	-webkit-transform: translateZ(0);

	@include transition(box-shadow .3s ease);

	button {
		background: #e2e2e2;
		border: 1px solid #d3d3d3;
		border-radius: 10em;
		color: #fff;
		font-size: 1.5em;
		padding: 0.1em;
		position: absolute;
		top: 1.5rem;
		z-index: 1;
		cursor: pointer;

		&#prev {
			left: $gutter_width;

			@include rounded_layout_break {
				left: $gutter_width/2;
			}
		}

		&#next {
			right: $gutter_width;
			text-indent: 0.1em;
			padding-right: 0;

			@include rounded_layout_break {
				right: $gutter_width/2;
			}
		}

		@include small_screen_break {
			font-size: 1em;
		}
	}

	dt {
		text-align: center;
		font-size: 2em;
		font-weight: 600;
		line-height: 1em;
		position: relative;
		top: 0.1em;

		@include small_screen_break {
			font-size: 1.3em;
		}

		em {
			font: {
				size: 2rem;
				weight: 200;
				style: normal;
			}
			color: #aaa;

			@include small_screen_break {
				font-size: 0.7em;
			}
		}
	}

	#toggle_history {
		$size: 30px;

		position: absolute;
		width: $size;
		height: $size;
		left: 50%;
		bottom: -$size/2;
		margin-left: -$size/2;
		z-index: 2;

		font: {
			family: "simplebird";
			size: 1.4em;
		}
		text-align: center;
		color: #a4a4a4;
		line-height: 1.4em;
		background: #fff;
		-webkit-tap-highlight-color: rgba(0,0,0,0);

		&:hover {
			color: #666;
			text-decoration: none;
		}
	}
}


section {
	padding: $gutter_width;
	background: #fff;
	border-bottom-left-radius: .5em;
	border-bottom-right-radius: .5em;
	position: relative;
	z-index: 1;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

	@include transition(-webkit-transform .3s ease);
	-webkit-transform: translateZ(0);

	@include rounded_layout_break {
		padding: $gutter_width $gutter_width/2;
	}

	.tweet {
		display: table;
		padding-bottom: 1em;
		margin-bottom: 1em;
		border-bottom: 1px solid #efefef;
		position: relative;
		width: 100%;

		&:last-child {
			margin-bottom: 0;
			border-bottom: 0;
		}

		.avatar {
			border-radius: 0.5rem;
			display: table-cell;
			vertical-align: top;
			margin-right: $gutter_width/2;

			@include rounded_layout_break {
				width: 40px;
				height: 40px;
				margin-right: $gutter_width/2;
			}
		}

		.tweet_body {
			display: table-cell;
			vertical-align: top;
			width: 100%;
		}

		.tweet_info {
			display: table;
			width: 100%;
			line-height: 1em;
		}

		.user {
			display: table-cell;

			a {
				color: #222;
				font-weight: 500;

				span {
					color: #aaa;
					font-weight: 200;
					font-size: 0.9em;
				}

				&:hover {
					text-decoration: none;

					span {
						text-decoration: underline;
					}
				}
			}
		}

		a.permalink {
			display: table-cell;
			text-align: right;

			font-size: 0.8em;
			font-weight: 500;
			color: #222;
		}

		.content {
			margin: 0.5em 0;
		}

		.retweeted {
			&, a {
				color: #aaa;
			}

			font-size: 0.8em;
			font-weight: 200;
			margin-top: -0.25em;

			&:before {
				content: "\e001";
				font-family: 'simplebird';
				font-size: 1.2em;
				position: relative;
				top: 0.15em;
				margin-right: 0.2em;
			}
		}

		.tweet_footer {
			margin-top: 0.5em;
			display: table;
			width: 100%;

			> * {
				display: table-cell;
				vertical-align: top;
			}
		}

		.metadata {
			margin: 0;
			width: 100%;
			line-height: 1.2em;

			&, a {
				font-size: 1.3rem;
				color: #333;
			}

			a {
				font-weight: 500;
			}

			.replyto {
				font-weight: 400;

				span {
					font-weight: 500;
				}
			}
		}

		.tweet_actions {
			font-family: simplebird;
			font-size: 1.2em;
			margin: 0;
			position: relative;
			top: -0.1em;

			a {
				color: #aaa;
				margin-left: 0.4em;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

#tweet_history {
	position: absolute;
	padding: $gutter_width;
	background: #fff;
	max-height: $history_height;
	overflow-y: auto;
	-webkit-transform: translateZ(0);

	@include small_screen_break {
		padding: $gutter_width/2;
	}

	&, ol {
		list-style: none;
		margin: 0;
		width: 100%;
	}

	h2 {
		color: #333;
		font-size: 1.2em;
		font-weight: 600;
	}

	.tweet_year {
		margin-bottom: 1em;

		&:last-child {
			margin-bottom: 0;
		}

		&:not(.active) {
			opacity: .5;

			&:hover {
				opacity: 1;
			}
		}
	}

	.tweet_months {
		display: table;
		padding: 0;

		.bar {
			display: table-cell;
			padding-right: 3px;

			a {
				display: block;
				background: $baby_blue;
				height: 2em;
			}

			.count_bar {
				background: #f8f8f8;
				display: block;
				height: 2em;
			}

			&.active {
				a {
					background: $darken_baby_blue;
				}

				.count_bar {
					background: #dddddd;
				}
			}
		}
	}
}

.menu_open {
	section {
		-webkit-transform: translateY($history_height);
		border-top: 1px solid #d3d3d3;
	}

	section, nav {
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}

	#tweet_history {
		-webkit-overflow-scrolling: touch;
	}
}

footer {
	text-align: center;
	font-size: 1.3em;
	color: #bbb;
	padding-bottom: 1em;

	a {
		color: #bbb;
		text-decoration: underline;
	}
}